In [32]:
import pandas as pd
import os

In [33]:
data_path = './data/aq_data/'
filenames = os.listdir(data_path)

transit_ids = [fn.split('_')[0] for fn in filenames]
transit_ids = set(transit_ids)

transit_ids = sorted(list(transit_ids))

In [34]:
for id in transit_ids:
    combined_df = pd.DataFrame()
    transit_files = [fn for fn in filenames if fn.startswith(id)]
    
    for i, f in enumerate(transit_files):
        file_path = os.path.join(data_path, f)
        if i == 0:
            df = pd.read_csv(file_path, low_memory=False, header=None)
        else:
            df = pd.read_csv(file_path, low_memory=False, header=None)
            df = df.drop(df.index[0])
        combined_df = pd.concat([combined_df, df], axis=0, ignore_index=True)    
    
    # combined_df.columns = combined_df.iloc[0]
    # combined_df = combined_df.drop(combined_df.index[0])
    # combined_df = combined_df[1:].reset_index(drop=True)
    
    id_df_filename = './data/transit_dfs/' + id + '_df.csv'
    combined_df.to_csv(id_df_filename, index=False)
    print('Combined df for ' + id + ' data saved. Size = ' + str(combined_df.shape))

Combined df for BUS01 data saved. Size = (127887, 40)
Combined df for BUS02 data saved. Size = (162646, 40)
Combined df for BUS03 data saved. Size = (80374, 40)
Combined df for BUS04 data saved. Size = (2222, 36)
Combined df for BUS05 data saved. Size = (748, 36)
Combined df for BUS06 data saved. Size = (154, 36)
Combined df for BUS07 data saved. Size = (1, 36)
Combined df for TRX01 data saved. Size = (1426728, 29)
Combined df for TRX02 data saved. Size = (1180731, 29)
Combined df for TRX03 data saved. Size = (1173932, 29)

In [36]:
bus01_df = pd.read_csv('./data/transit_dfs/BUS01_df.csv', low_memory=False, header=1)
bus01_df.head()

,Timestamp_UTC,Latitude_ddeg,Longitude_ddeg,Elevation_m,GPS_Speed_m/s,GPS_Direction_deg,GPS_RMC_Valid_binary,Battery_Voltage_volts,Bus_Box_Temperature_degC,Bus_Top_Temperature_degC,...,GPS_Data_Flagged_binary,Time_Tuple,Date,Year,Month,Day_of_Year,Day_of_Month,Minute,Hour,Transit_ID
0,2021-09-28 16:49:10,40.766273,-111.847641,1474.7,-9999.0,-9999.0,-9999.0,12.50,21.34,22.94,...,0,"time.struct_time(tm_year=2021, tm_mon=9, tm_md...",2021-09-28,2021,9,271,28,49,16,BUS01
1,2021-09-28 16:51:50,40.766617,-111.847954,1476.6,-9999.0,-9999.0,-9999.0,12.61,21.37,23.01,...,0,"time.struct_time(tm_year=2021, tm_mon=9, tm_md...",2021-09-28,2021,9,271,28,51,16,BUS01
2,2021-09-28 16:54:20,40.766483,-111.847748,1474.8,-9999.0,-9999.0,-9999.0,12.30,21.40,23.14,...,0,"time.struct_time(tm_year=2021, tm_mon=9, tm_md...",2021-09-28,2021,9,271,28,54,16,BUS01
3,2021-09-28 16:57:20,40.765793,-111.847237,1473.9,-9999.0,-9999.0,-9999.0,12.58,21.42,23.21,...,0,"time.struct_time(tm_year=2021, tm_mon=9, tm_md...",2021-09-28,2021,9,271,28,57,16,BUS01
4,2021-09-28 16:59:50,40.766312,-111.847649,1476.7,-9999.0,-9999.0,-9999.0,12.57,21.48,23.35,...,0,"time.struct_time(tm_year=2021, tm_mon=9, tm_md...",2021-09-28,2021,9,271,28,59,16,BUS01